<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"  routerLink="lesemployes">Liste des employés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"  routerLink="ajoutemploye">Ajout d'un employé</a>
        </li>
      </ul>
    </div>
  </nav>
